# Секретные переменные окружения (токены, пароли БД)
.env

# Логи приложения
*.log
app.log

# Папки виртуального окружения (на всякий случай, если используешь venv)
venv/
.venv/
__pycache__/
.pytest_cache/
.DS_Store
*.py[cod]
